.head-bar{
    display: flex;
    height: 3.5em;  
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid rgba(191, 184, 184, 0.39) ;
    z-index: 999;
}
.left{
    margin-right: 4em;
    display: flex;
    align-items: center;
}
.middle{
    width: 25em;
    flex: 1;
    max-width:25em ;
    display: flex;
    align-items: center;
}
.right{
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.left-icon{
    width: 1.6em;
    margin-left: 1.5em;
}
.left-icon2{
    width: 5.6em;
    margin-left: 1.4em;
}
.search-icon{
    margin-top: 0.3em;
    width: 1.7em;
}
.voice-icon{
    width: 1.6em;
}
.upload-icon,
.youtube-apps-icon,
.notification-icon{
    width: 1.5em;
}
.current-user{
    object-fit: cover;
    width: 2.3em;
    height: 2.3em;
    border-radius: 1.3em;
}
.search-bar{
    flex: 1;
    width: 0;
    height: 2.5em;
    border: 1px solid rgba(107, 103, 103, 0.327);
    padding-left: 0.6em;
    box-shadow: inset 1px 2px 4px rgba(107, 103, 103, 0.142);
}
.search-bar::placeholder{
    font-size: 1.1em;
}
.search-button{
    width: 4.7em;
    height: 2.8em;
    border: 1px solid rgba(107, 103, 103, 0.327);
    background-color: rgba(107, 103, 103, 0.071);
    z-index: 100;
    margin-right: 0.6em;
}
.search-button,
.voice-button,
.notification-icon-count{
    position: relative;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
}
.search-button .tooltip,
.voice-button .tooltip {
    position: absolute;
    bottom: -2.5em;
    background-color: grey;
    border-radius: 0.2em;
    color: white;
    font-size: 0.9em;
    padding: 0.2em 0.5em 0.3em 0.5em;
    opacity: 0;
    transition: opacity 0.7s;
    pointer-events: none;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.notification-icon-count:hover .tooltip{
    opacity: 1;
}
.voice-button{
    border-radius: 1.5em;
    width: 3em;
    height: 3em;
    border: none;
}
.notification-icon-count{
    position: relative;

}
.notification-count{
    background-color: rgb(209, 7, 7);
    color: white;
    font-size: 0.6em;
    width: 1.2em;
    padding: 0.2em;
    border-radius: 0.8em;
    text-align: center;
    position: absolute;
    top: -0.1em;
    right: -0.2em;
}
.notification-icon-count .tooltip{
    font-size: 0.7em;
    position: absolute;
    bottom: -3.5em;
    background-color: gray;
    padding: 0.4em 0.7em 0.4em 0.7em;
    border-radius: 0.3em;
    opacity: 0;
    color: white;
}