.left-side-bar {
  background-color: white;
  position: fixed;
  bottom: 0;
  top: 3.5em;
  left: 0;
  right: 0;
  width: 4.4em;
  z-index: 999;
}
.sidebar-link {
  width: 4.4em;
  height: 4.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgba(242, 240, 240, 0.515);
}
.sidebar-link img {
  width: 1.5em;
  margin: 0.4em;
}
.sidebar-link div {
  font-size: 0.6em;
}
